 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light user">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>
                        Tabalho com desenvolvimento desde 2007. Em todo esse tempo, estive em busca de novas tecnologias e modernos métodos de desenvolvimento, sempre focando em obter máxima qualidade, usabilidade e completo êxito das funcionalidades nos projetos que participei. Com experiência em desenvolvimento web, já trabalhei em diversas empresas no Recife. Desde 2015, trabalho como freelancer para algumas empresas de desenvolvimento web e mobile, atuando principalmente na plataforma Android.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a style="margin-right: 15px;" href="http://www.viniciusgalvao.com.br/resume" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-text-o"></i> Currículo
                    </a>
                    <a href="https://www.linkedin.com/in/vin%C3%ADcius-galv%C3%A3o-78a95912" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin"></i> Linkedin
                    </a>
                </div>
            </div>
        </div>
    </section>
