 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light user">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>
                        Tabalho com desenvolvimento desde de 2007. Em todo esse tempo, estive em busca de novas tecnologias e modernos métodos de desenvolvimento, sempre focando em aplicar qualidade, usabilidade e funcionalidade aos projetos que participei. Com experiência em desenvolvimento web, já trabalhei em diversas empresas no Recife. Desde 2015, trabalho como freelancer para algumas empresas de desenvolvimento web e mobile, atuando principalmente na plataforma Android.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/vin%C3%ADcius-galv%C3%A3o-78a95912" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin"></i> Linkedin
                    </a>
                </div>
            </div>
        </div>
    </section>
