 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light user">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-justify">
                    <p>O que eu realmente amo é trabalhar com tudo relacionado à tecnologia, principalmente com web e mobile especialmente quando falamos de aplicações fullstack. Sou fascinado por isso, Gosto de resolver problemas sempre tentando escolher à melhor e mais performática alternativa, mas às vezes precisamos partir para entregar e em seguida, refatorar! Gosto de trabalhar com equipes comunicativas e multidisciplinar, acho que podemos fazer grandes coisas trabalhando com algumas mentes incríveis</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/vin%C3%ADcius-galv%C3%A3o-78a95912" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin"></i> Linkedin
                    </a>
                </div>
            </div>
        </div>
    </section>
